a.link#link{
    display: inline-block !important;/*Оверридва стила който е записан в html тага*/
    color: red;
}

.link .link-sub{
    color: blue;
}

.link > .link-sub{/*Клас вътре в .link, който е първи в него.*/
    color: green;
}

.link .test{
    color: #000;
}

.link .test + .test{/*Всички еднакви класове след първия(последователни без прекъсване)*/
    color: yellow;
}

.test:nth-child(2){/*Класа, който е 2-ри еднакъв*/
    color: blue;
}

.link .link-sub ~ span{/*Всеки span след класа*/
    color: #c1c1c1;
}

.box{
    width: 200px;
    height: 200px;
    border: 3px solid #000;
    background-color: #ccc;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
}
