.wrapper{
    width: 100%;
}

.header{
    font-size: 5vw;
}

.clearfix::after {
    content: ".";
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

.section{
    float: left;
}

.section > div{
    padding: 0 10px;
}

.section p{
    margin: 0;
}

.column{
    width: 20%;
}

.column h1{
    margin-top: 0;
}

.main{
    width: 40%;
}

.image{
    width: 100%;
}

.hidden .section:nth-child(2), .hidden .section:nth-child(5) {
    display: none;
}

.hidden .section:nth-child(3){
    width: 30%;
}

.hidden .section:nth-child(4){
    width: 70%;
}
