*{
    margin:0;
    padding:0;
    border:none;

}

.wrapper{
    width: 100%;
    overflow: hidden;
    font-size:0;
}

.column{
    float: left;
    overflow: hidden;
    width: 29%;
    height: auto;
    max-height: 237px;
    margin-right:1%;
    box-sizing: border-box;
}
.column.middle{
    width: 43%;
    padding:0;
}
.column:last-child{
margin-right:0;
}
.column div{
    position:relative;
    width:100%;
}

.column span{
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    bottom: 39px;
    font-size: 34px;
    left: 48px;
}


.left2{
    background: url(left2.png) no-repeat left top;
}
.middle1{
    background: url(middle1.png) no-repeat left top;
}
.middle2{
    background: url(middle2.png) no-repeat left top;
}
.right1{
    background: url(right1.png) no-repeat left top;
}
.right2{
    background: url(right2.png) no-repeat left top;
}

.clearfix::after {
    content: ".";
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}
