/*Fonts*/
@font-face {
    font-family: 'latobold';
    src: url('fonts/Lato-Bold-webfont.eot');
    src: url('fonts/Lato-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Bold-webfont.woff2') format('woff2'),
         url('fonts/Lato-Bold-webfont.woff') format('woff'),
         url('fonts/Lato-Bold-webfont.ttf') format('truetype'),
         url('fonts/Lato-Bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoregular';
    src: url('fonts/Lato-Regular-webfont.eot');
    src: url('fonts/Lato-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Regular-webfont.woff2') format('woff2'),
         url('fonts/Lato-Regular-webfont.woff') format('woff'),
         url('fonts/Lato-Regular-webfont.ttf') format('truetype'),
         url('fonts/Lato-Regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/**/

/*CLear fix class*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
/**/




/*content*/
/*.container:nth-child(1),
.container:nth-child(4){
    margin-left: 0;
}
.container:nth-child(3),
.container:nth-child(6){
    margin-right: 0;
}
.container{
    position: relative;
    padding-bottom: 11.25%;
    height: 0;
    overflow: hidden;
    float: left;
    margin: 0.25%;
}
.subcontainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.positioning{
    float: left;
    overflow: hidden;
     margin: 0 0.5% 0.5% 0;
    position: relative;

    padding-bottom: 11.25%;
    height: 0;
}

.positioning:nth-child(3),
.positioning:nth-child(6)
{
    margin-right: 0;
}

.title{
    position: absolute;
    left: 25px;
    bottom: 13px;
    color: white;
    text-transform: uppercase;
    font-family: 'latobold';
    letter-spacing: 5px;
}

.topworkz{
    width: 30%;
    background: url('../images/TopWorkz.png')0px 0px / contain no-repeat;
    background-size: 100%;
}
.joint{
    width: 39%;
    background: url('../images/joint.png')0px 0px / contain no-repeat;
    background-size: 100%;
}
.market{
    width: 30%;
    background: url('../images/market.png')0px 0px / contain no-repeat;
    background-size: 100%;
}
.worktop{
    width: 30%;
    background: url('../images/worktop.png') 0px 0px / contain no-repeat;
    background-size: 100%;
}
.lable{
    width: 39%;
    background: url('../images/lable.png') 0px 0px / contain no-repeat;
    background-size: 100%;
}
.kuiv{
    width: 30%;
    background: url('../images/kyiv.png') 0px 0px / contain no-repeat;
    background-size: 100%;
}*/
/**/

.clearfix::after {
    content: ".";
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

h1{
    margin: 0;
    padding: 0;
}

.wrapper-background{
    background-color: #eeeeef;
}

.wrapper{
    margin: 0 auto;
    padding: 62px 5px;
    width: 600px;
    text-align: left;
    box-sizing: border-box;
}

.section{
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.section:nth-child(1){
    padding-right: 45px;
}

.section:nth-child(2){
    padding-left: 45px;
}

.section .title{
    text-transform: uppercase;
    font-size: 18px;
    color: #384048;
}

.section .title:before{
    content: "";
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}

.section .title.paper:before{
    width: 24px;
    height: 19px;
    background: url('../images/paper.png') 0 0 no-repeat;
}

.section .title.pen:before{
    width: 20px;
    height: 20px;
    background: url('../images/pen.png') 0 0 no-repeat;
}

.section .title:after{
    content: "";
    display: block;
    margin-top: 20px;
    width: 100%;
    height: 2px;
    background-color: #e2e3e4;
}

.section .text{
    margin: 20px 0;
    font-size: 14px;
    color: #787b80;
}

.section .button{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #f5f5f5;
    text-decoration: none;
    font-size: 14px;
    background-color: #50c3af;
    border-radius: 30px;
}
