/*====================================================================
=== FONTS
====================================================================*/

@font-face {
    font-family: 'latob';
    src: url('fonts/Lato-Bold.eot');
    src: url('fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Bold.woff2') format('woff2'),
         url('fonts/Lato-Bold.woff') format('woff'),
         url('fonts/Lato-Bold.ttf') format('truetype'),
         url('fonts/Lato-Bold.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lator';
    src: url('fonts/Lato-Regular.eot');
    src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Regular.woff2') format('woff2'),
         url('fonts/Lato-Regular.woff') format('woff'),
         url('fonts/Lato-Regular.ttf') format('truetype'),
         url('fonts/Lato-Regular.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latol';
    src: url('fonts/Lato-Light-webfont.eot');
    src: url('fonts/Lato-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Light-webfont.woff2') format('woff2'),
         url('fonts/Lato-Light-webfont.woff') format('woff'),
         url('fonts/Lato-Light-webfont.ttf') format('truetype'),
         url('fonts/Lato-Light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*====================================================================
=== RESET
====================================================================*/

h1, h2, p, ul{
    margin: 0;
    padding: 0;
}

h1, h2{
    font-family: 'latob';
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    /*color: #ffffff;*/
}

/*====================================================================
=== OOCSS
====================================================================*/

body{
    font-family: 'lator';
    font-size: 16px;
}

.section{
    margin: 0 auto;
    padding: 150px 0;
    width: 100%;
    max-width: 900px;
    text-align: center;
    box-sizing: border-box;
}

.section-content{
    position: relative;
    padding: 50px 160px;
    border: 2px solid #000000;
    border-top: none;
}

.section-content h2{
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 40px;
    font-size: 20px;
}

.section-content p{
    margin-bottom: 40px;
    font-family: 'latol';
    line-height: 23px;
}

.section-content :last-child{
    margin-bottom: 0;
}

.headline{
    position: absolute;
    top: -17px;
    left: 0;
    display: block;
    width: 100%;
    font-size: 0;
    text-align: right;
}

.headline h1{
    display: inline-block;
    width: 40%;
    height: 34px;
    font-size: 34px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

.headline:before,
.headline:after{
    content: "";
    display: inline-block;
    width: 30%;
    height: 15px;
    border-top: 2px solid #000000;
}

.section-background{
    position: relative;
    color: #ffffff;
    box-sizing: border-box;
    overflow: hidden;
}

.content-position{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 900px;
    transform: translate(-50%, -50%);
}

.clearfix::after {
    content: ".";
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

/*====================================================================
=== HEADER
====================================================================*/

.header{
    padding: 27.9%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    background: url('header.png') 0 0 / contain no-repeat;
    background-size: 100%;
}

.header img{
    margin-bottom: 90px;
}

.header h1{
    margin-bottom: 50px;
    font-size: 54px;
    letter-spacing: 10px;
}

.header p{
    line-height: 29px;
}

.header .content-position:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -20%;
    display: block;
    width: 100%;
    height: 37px;
    background: url('mouse.png') center center no-repeat;
}

/*====================================================================
=== SECTION-SERVICE
====================================================================*/

.service{
    padding-bottom: 25.45%;
    color: #ffffff;
    background: url('service.jpg') 0 0 / contain no-repeat;
    background-size: 100%;
}

.service .section-content{
    border-color: #ffffff;
}

.service .headline:before,
.service .headline:after{
    border-color: #ffffff;
}

/*====================================================================
=== SECTION-DEVELOP
====================================================================*/

.develop .section-content p{
    font-size: 14px;
}

.develop img{
    margin-top: 100px;
    margin-bottom: 40px;
}

/*====================================================================
=== SECTION-NAV
====================================================================*/

.nav li{
    position: relative;
    padding-bottom: 11.25%;
    height: 0;
    overflow: hidden;
    float: left;
    margin: 0.25%;
}

.nav .sub{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    color: #ffffff;
}

.nav .sub span{
    position: absolute;
    left: 25px;
    bottom: 13px;
    text-transform: uppercase;
    font-family: 'latob';
    letter-spacing: 5px;
    font-size: 34px;
}

.nav .top-left,
.nav .top-right,
.nav .bottom-left,
.nav .bottom-right{
    width: 30%;
    background-size: 100%;
}

.nav .top-middle,
.nav .bottom-middle{
    width: 39%;
}

.nav li:nth-child(1),
.nav li:nth-child(4){
    margin-left: 0;
}
.nav li:nth-child(3),
.nav li:nth-child(6){
    margin-right: 0;
}

.nav li:nth-child(1),
.nav li:nth-child(2),
.nav li:nth-child(3){
    margin-top: 0;
}

.nav li:nth-child(4),
.nav li:nth-child(5),
.nav li:nth-child(6){
    margin-bottom: 0;
}

.nav .top-left,
.nav .bottom-left{
    background: url('left2.png') 0 0 / cover no-repeat;
    background-size: 100%;
}

.nav .top-middle{
    background: url('middle1.png') 0 0 / contain no-repeat;
    background-size: 100%;
}

.nav .bottom-middle{
    background: url('middle2.png') 0 0 / contain no-repeat;
    background-size: 100%;
}

.nav .top-right{
    background: url('right1.png') 0 0 / cover no-repeat;
    background-size: 100%;
}

.nav .bottom-right{
    background: url('right2.png') 0 0 / cover no-repeat;
}

/*====================================================================
=== SECTION-CONTACT
====================================================================*/

.section.contact{
    padding-bottom: 0;
}

.button{
    padding: 20px 130px;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 3px;
    color: #ffffff;
    background-color: #3c3c3c;
}

/*====================================================================
=== FOOTER
====================================================================*/

.footer{
    margin: 0 auto;
    width: 330px;
    margin-top: 65px;
    margin-bottom: 65px;
    text-align: center;
    font-size: 14px;
}

.footer span{
    line-height: 40px;
}

.footer img{
    margin-right: 40px;
    float: left;
}
